.blanco__seccion {
    background-color: white;
    padding: 3rem 2rem;
    text-align: center;
    color: #0c0a0a;
  }
  
  .blanco__titulo {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .blanco__texto {
    max-width: 100%;
    margin: 7rem;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
  }
  
